.count{
    width: 80%;
    padding: 20px;
    position: relative;
    transform: translate (-50%,-50%);
    display:flex;
    justify-content: space-around;
    text-align:center;
    border-radius: 5px;
}